

footer * {
    color: rgb(134, 134, 134);
}

.introduce {
    width: 900px;
    margin: 0 auto;
}

.news{
    width: 1100px;
    margin: 0 auto;
}

div.introduce-img {
    width: fit-content;
    margin: 0 auto;
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

.text-color-white {
    color: white;
}

.border-green {
    border: 1px solid green;
}

.border-black{
    border: 1px solid;
}

.background-green {
    background-color: #005f27;
    font-size: 25px
}

.para {
    text-indent: 35px;
}

html{
    font-size: 18px;
}

.author{
    text-align: right;
    font-weight: bold;
}